# Logs
logs
*.log
npm-debug.log*

# dependencies
node_modules/
frontend/node_modules/

# environment variables
.env
.env.local

# build output
frontend/dist/

# IDE specific files
.vscode
.idea
*.swp
*.swo
